.html {
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: #EFF0F4;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 88px;
    background-color: #5FC0CD;
}
.close {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -12px;
    color: #fff;
}
.tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -32px;
    color: #fff;
}
.sign-up {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -12px;
    color: #fff;
}
main {
    padding: 0;
    margin-top: 104px;
}
.phone,
.password {
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 16px;
    background-color: #fff;
}
.phone img {
    margin: 0 43px;
}
.phone input {
    width: calc(100% - 113px);
    height: 52px;
    padding-left: 1rem;
    font-size: 24px;
    border: none;
    border-left: solid 2px #E1E5E7;
}
.password img {
    margin: 0 43px;
}
.password input {
    width: calc(100% - 111px);
    height: 52px;
    padding-left: 1rem;
    font-size: 24px;
    border: none;
    border-left: solid 2px #E1E5E7;
}
input:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    color: #E1E5E7;
}
button {
    width: 100%;
    height: 100px;
    margin-top: 70px;
    font-size: 36px;
    border: none;
    color: #fff;
    background-color: #5FC0CD;
}
.reset {
    float: right;
    margin-right: 18px;
    font-size: 32px;
    color: #5FC0CD
}